* {
  box-sizing: border-box;
}
:root {
  --content-padding: 2rem;
}
body {
  margin: 0 auto;
  padding: 0;
  background-color: #eee;
}
#app {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

@media only screen and (min-width : 320px) and (max-width : 767px) {
  :root {
    --content-padding: 1rem;
  }
}